{% extends "base.html" %}
{% load static %}
{% static "img" as baseUrl %}
    
{% block content %}
  
    <section class="section-detail" data-stellar-background-ratio="0.5">
      <div class="container">
		  <div class="row d-flex justify-content-center">
			  <div>
				  <hr class="border-title" >
	{% if request.path == '/solution/domotique-residentielle/' %}

	<h1 class="text-center" style="font-size: 5vw;">La domotique sans fil, pour
		une maison connectée</h1>
	{% else %}
  
	<h1 class="">{{solution.name}}</h1>
  
{% endif %}

			  </div>
		  </div>
      </div>
	</section>

{% if request.path == '/solution/appel-malade/' %}
	<div>
		<img class="photo-appel img-fluid" src="{% static 'images/appel-malade.png' %}" width="100%" type="application/pdf" ></img>
	</div>

	{% elif request.path == '/solution/batteries-de-condensateurs/' %}

	<div class="container mt-5 solutions">
		<div class="row ">
			<div class="col-">
				<div class="row d-flex justify-content-center">
					<div class="d-flex justify-content-center">
						<div class="col- col-md-5 col-lg-6 ">
							<img class="img-fluid" src="{% static 'images/batterie-compensation-1.png' %}" alt="{{solution.name}}">
						</div>
						<div class="col- col-md-7 col-lg-6">
							<p class="mt-5">Tout système électrique utilisant le courant alternatif met en jeu deux formes d'énergies : l'énergie active et l'énergie réactive.
								Cette dernière sert notamment à l'alimentation des circuits magnétiques des machines électriques.
								Elle ne sert donc pas directement aux systèmes de production, mais est facturée au même titre que l’énergie active. 
								Contrairement à cette dernière, l’énergie réactive est dite «improductive» pour l’utilisateur.
							</p>
						</div>
					</div>
					<div class="d-flex justify-content-center mt-5">
						<div class="col- col-md-7 col-lg-6">
							<p class="">Legrand, à travers Alpes technologies propose une offre complète de services et produits contribuant à l'économie de l’énergie.
								Basée autour de la compensation d’énergie réactive, l’offre d’Alpes Technologies permet de diminuer la quantité d’énergie
								réactive fournie par la source et d’améliorer le facteur de puissance de l’installation à l'aide des batteries de condensateurs.
							</p>
						</div>
						<div class="col- col-md-5 col-lg-6 ">
							<img class="img-fluid" src="{% static 'images/batterie-compensation-2.png' %}" alt="{{solution.name}}">
						</div>
					</div>
				</div>

			</div>
			<div class="mt-4">
				<h3>La compensation d’énergie réactive permet ainsi :</h3>
				<ul class="ml-4">
					<li>De diminuer les pertes d’énergie active dans les câbles </li>
					<li>D'améliorer le niveau de tension en bout de ligne </li>
					<li>D'augmenter la puissance active disponible </li>
					<li>D’avoir des réseaux dépollués </li>
					<li>De diminuer la facturation d’énergie réactive.</li>
				</ul>
			</div>
		</div>
	</div>
	{% elif request.path == '/solution/domotique-residentielle/' %}
	<div class="container mt-5 solutions">
		<div class="row ">
				<div class="d-flex justify-content-center">
						<p class="mt-3 text-center">{{solution.description}}</p>
				</div>
		</div>

		<div class="row d-flex justify-content-center">
			<div class="">
				<h3 class="text-danger">Une gestion centralisée et un pilotage à distance</h3>
				<div class="d-flex">
					<div class="col- col-md-6">
						<p>
							Modifier l’éclairage, descendre les volets
							roulants, créer une ambiance sonore… C’est fou
							ce que vous pouvez proposer à vos clients avec
							les interrupteurs MyHOME Play© ! Autant de
							services qui améliorent le confort et la sécurité
							du logement tout en générant des économies sur
							la facture d’électricité. Ces interrupteurs et prises
							de courant sont contrôlables à distance grâce à
							un système sans fil très simple à installer.
						</p>
						 <br>
					</div>	
					<div class="col- col-md-6">
						<img class="img-fluid" src="{% static 'images/solution domotique-3.png' %}" alt="solution domotique">
					</div>
				</div>

			
				<div class="d-md-flex mt-3">
					<div class="col-12 col-md-6">
						<img class="img-fluid mt-3" src="{% static 'images/solution domotique-1.png' %}" alt="solution domotique">
					</div>
					<div class="col-12 col-md-6">
						<p class="mt-3"><strong>Tout type d’équipement relié à une prise
							électrique intelligente MyHOME Play©</strong> bénéficier de cette gestion centralisée :
							climatiseur, ventilateur, Hi-Fi, arrosage… La
							programmation des interrupteurs permet de
							créer des scénarios d’usage par pièce ou par
							type d’équipement. Un interrupteur pourra par
							exemple commander l’ensemble des stores d’un
							étage ou créer une atmosphère lumineuse et
							chaleureuse.</p>
					</div>

				</div>
			</div>

			<div class="col- mt-4">
				<img class="img-fluid" src="{% static 'images/solution-global.png' %}" alt="domotique domotique-residentielle"">
			</div>
		</div>
	</div>

	{% elif request.path == '/solution/hotel/' %}

	<div class="container mt-5 solutions">
		<div class="row ">
				<div class="d-flex justify-content-center">
						<p class="mt-3 text-center">{{solution.description}}</p>
				</div>
		</div>

		<div class="row d-flex justify-content-center">
			<div class="">
				<h3 class="text-danger">DES SOLUTIONS ET DES SERVICES COMPLETS</h3>
				<div class="row d-flex justify-content-center">
					<div class="col-">
						<p>
							Le système de commande Legrand permet de programmer différents
							scénarios à l’intérieur de chaque chambre de façon à vivre une expérience
							unique et inédite. <br>
							Grâce à une série d’interfaces conviviales, les clients pourront commander
							l’éclairage, l’ouverture et la fermeture des rideaux, la température et la ventilation,
							Grâce aux solutions de connectivité multimédia de Legrand, vos clients pourront
							connecter et utiliser leur propre équipement dans leur chambre.
						</p>
					</div>	
					<div class="col-">
						<img class="img-fluid" src="{% static 'images/solutions-hotels.png' %}" alt="solution domotique">
					</div>
				</div>

			
				<div class="row d-lg-flex mt-3 justify-content-center">
					<div class="col-12 col-lg-6 ">
						<img class="img-fluid mt-3" src="{% static 'images/hotel2.png' %}" alt="solution domotique">
					</div>
					<div class="col-12 col-lg-6">
						<h3 class="text-danger">
							Système de pilotage de la chambre d’hôtel
						</h3>
						<div >
							<p>
								Le système de commande Legrand permet de programmer différents
								scénarios à l’intérieur de chaque chambre de façon à vivre une expérience
								unique et inédite. <br>
								Grâce à une série d’interfaces conviviales, les clients pourront commander
								l’éclairage, l’ouverture et la fermeture des rideaux, la température et la ventilation,
								Grâce aux solutions de connectivité multimédia de Legrand, vos clients pourront
								connecter et utiliser leur propre équipement dans leur chambre.
							</p>
						</div>	
					</div>
				</div>

				<div class="row d-lg-flex mt-5 justify-content-center">
					<div class="col-12 col-lg-6">
						<h3 class="text-danger">
							Confort dans la chambre
						</h3>
						<div >
							<p>
								Grâce à un bon éclairage et à une bonne température, vous offrez à vos clients encore plus de confort. Ils apprécieront de pouvoir commander facilement l’éclairage et les volets à l’aide de gestionnaires de scénario, ce qui leur permettra de supporter plus facilement les décalages horaires. Grâce aux thermostats Legrand, ils pourront programmer la température la plus confortable afin d’améliorer la qualité de leur sommeil.
							</p>
						</div>	
					</div>
					<div class="col-12 col-lg-6 ">
						<img class="img-fluid mt-3 align-middle" src="{% static 'images/hotel3.png' %}" alt="solution domotique">
					</div>

				</div>


				<div class="row d-lg-flex mt-3 justify-content-center">
					<div class="col-12 col-lg-7 ">
						<h3 class="text-danger">
							CHAMBRE
						</h3>
						<img class="img-fluid mt-3" src="{% static 'images/hotel3.png' %}" alt="solution domotique">
						<h3 class="text-success">Système de pilotage de la chambre d’hôtel</h3>
							<p>
								Grâce à un bon éclairage et à une bonne température, vous offrez à vos clients encore plus de confort. Ils apprécieront de pouvoir commander facilement l’éclairage et les volets à l’aide de gestionnaires de scénario, ce qui leur permettra de supporter plus facilement les décalages horaires. Grâce aux thermostats Legrand, ils pourront programmer la température la plus confortable afin d’améliorer la qualité de leur sommeil.
							</p>
					</div>
					<div class="col-12 col-lg-5">
						<h3 class="text-danger">
							SALLE DE RÉUNION
						</h3>
						<img class="img-fluid mt-3" src="{% static 'images/hotel4.png' %}" alt="solution domotique">
						<h3 class="text-success">Pop-up encastrés</h3>
							<p>
								Les usagers disposent de toute la connectique courant fort et courant faible à portée de main pour être opérationnel immédiatement.
							</p>
					</div>
				</div>

			</div>

		</div>
	</div>


	{% elif request.path == '/solution/solution-pour-bureaux/' %}
	<div>
		<img class="photo-appel img-fluid" src="{% static 'images/bureau1.png' %}" width="100%" type="application/pdf" ></img>
	</div>

	<div class="container">
		<div class="row d-flex">
			<div class="col col-6 col-md-4 col-lg-3">
				<h4 class="text-danger">Pop-up de bureau</h4>
				<img src="{% static 'images/bureaux/Asset-2.png' %}" alt="">
			</div>
			<div class="col col-6 col-md-4 col-lg-3">
				<h4 class="text-danger">Module de bureau
					encastré</h4>
				<img src="{% static 'images/bureaux/Asset-3.png' %}" alt="">
			</div>
			<div class="col col-6 col-md-4 col-lg-3">
				<h4 class="text-danger">Bloc bureau</h4>
				<img src="{% static 'images/bureaux/Asset-4.png' %}" alt="">
			</div>
			<div class="col col-6 col-md-4 col-lg-3">
				<h4 class="text-danger">Bloc pour salle de
					réunion</h4>
				<img src="{% static 'images/bureaux/Asset-5.png' %}" alt="">
			</div>
			<div class="col col-6 col-md-4 col-lg-3">
				<h4 class="text-danger">Chargeur à induction</h4>
				<img src="{% static 'images/bureaux/Asset-6.png' %}" alt="">
			</div>
			<div class="col col-6 col-md-4 col-lg-3">
				<h4 class="text-danger">Bloc nourice</h4>
				<img src="{% static 'images/bureaux/Asset-7.png' %}" alt="">
			</div>
			<div class="col col-6 col-md-4 col-lg-3">
				<h4 class="text-danger">Rallonges tour</h4>
				<img src="{% static 'images/bureaux/Asset-8.png' %}" alt="">
			</div>
			<div class="col col-6 col-md-4 col-lg-3">
				<h4 class="text-danger">Rallonges multiprises</h4>
				<img src="{% static 'images/bureaux/Asset-9.png' %}" alt="">
			</div>
			<div class="col col-6 col-md-4 col-lg-3">
				<h4 class="text-danger">Nouveau design et diversité des fonctions</h4>
				<img src="{% static 'images/bureaux/Asset-10.png' %}" alt="">
			</div>			

		</div>
	</div>

	{% elif request.path == '/solution/interphone-videophone/' %}

	<div class="container mt-5 solutions">
		

		<div class="row d-flex justify-content-center">
			<div class="">
				<h3 class="text-danger">SOLUTION INTERPHONE VIDEO PHONE POUR HABITAT
					COLLECTIF OU INDIVIDUEL</h3>
					<h4 class="text-primary mt-4">
						Esthétique, Moderne, Adaptée à tout type d’habitation, Haute perception de qualité et robustesse sur toute la gamme
					</h4>
				<div class="row d-flex justify-content-center">
					<div class="col-">
						<ul>
							<li>Trois couleurs différentes pour un meilleur impact esthétique</li>	
	
								<li> Alignement parfait des modules Mêmes variantes de couleurs pour les visières anti-pluie Boîtiers saillie surbaissés dans les mêmes versions de couleurs
								</li>
						</ul>
					</div>	

				</div>

			
				<div class="row d-lg-flex mt-3 justify-content-center">
					<div class="row col- col-md-9 d-flex justify-content-center">
						<div class="img-fluid col-6 col-md-3 mt-3">
							<img src="{% static 'images/interphone/allmetal.png' %}" alt="">
							<h5 class="text-danger text-center">allmetal</h5>
						</div>
						<div class="img-fluid col-6 col-md-3">
							<img src="{% static 'images/interphone/allstreet.png' %}" alt="">
							<h5 class="text-danger text-center mt-3">allstreet</h5>
						</div>
						<div class="img-fluid col-6 col-md-3">
							<img src="{% static 'images/interphone/allwhite.png' %}" alt="">
							<h5 class="text-danger text-center mt-3">allwhite</h5>
						</div>
						<div class="img-fluid col-6 col-md-3">
							<img src="{% static 'images/interphone/sfera.png' %}" alt="">
							<h5 class="text-danger text-center mt-3">SFERA</h5>
						</div>
					</div>
					<div class="col- col-md-3">
						<h3 class="text-black">
							Façade et structure ultra robustes gage de haute sécurité. Boîtier d’encastrement en acier pour installations anti-arrachement.
						</h3>

					</div>
					<h3 class="text-danger text-uppercase text-center mt-5">
						COMPOSITIOnS MODuLAIRES DES FOnCTIOnS COMPOSITIOn SÉPARÉE DES FInITIOnS un AVAnTAGE POuR TOuS !!
					</h3>
				</div>

			</div>

		</div>
	</div>
<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="col-8">
			<h5 class="text-center">
				Portier Visiophone avec écran tactile vous permet de converser
avec vos visiteurs, d'ouvrir la porte, mémoriser des vidéos du
passage durant votre absence, allumer un éclairage extérieur et
afficher vos images personnelles. <br>
Ecran de dimension 4.3", 7" & 10"Idéal pour villa et appartement.
Possibilité de rajouter jusqu'à 02 écrans.
			</h5>
		</div>
		<div class="d-flex justify-content-center">
			<img src="{% static 'images/interphone/solution-interphone.png' %}" style="width: 80%;" alt="solution-interphone">
		</div>

		<div class="row mt-4">
			<div class="col- col-sm-4 col-lg-3">
				<a href="{% static 'images/interphone/solution-16.png' %}" data-lightbox="image-1">
					<img class="img-fluid" src="{% static 'images/interphone/solution-16.png' %}" alt="solution-interphone">
				</a>
			</div>
			<div class="col- col-sm-4 col-lg-3">
				<a href="{% static 'images/interphone/solution-18.png' %}"data-lightbox="image-1">
					<img class="img-fluid" src="{% static 'images/interphone/solution-18.png' %}" alt="solution-interphone">
				</a>
			</div>
			<div class="col- col-sm-4 col-lg-3">
				<a href="{% static 'images/interphone/solution-19.png' %}"data-lightbox="image-1">
					<img class="img-fluid" src="{% static 'images/interphone/solution-19.png' %}" alt="solution-interphone">
				</a>
			</div>
			<div class="col- col-sm-4 col-lg-3">
				<a href="{% static 'images/interphone/solution-20.png' %}"data-lightbox="image-1">
					<img class="img-fluid" src="{% static 'images/interphone/solution-20.png' %}" alt="solution-interphone">
				</a>
			</div>
		</div>
	</div>
</div>










	
	{% else %}
	<div class="container mt-5 solutions">
		<div class="row d-flex justify-content-center">
			<h3 class="text-danger text-center">{{solution.text1}}</h3>
			<div class="col-">
				<div class="row d-flex justify-content-center">
					<div class="d-flex justify-content-center">
						<div class="col- col-md-5 col-lg-6 ">
							<img class="img-fluid" src="{{solution.image.url}}" alt="{{solution.name}}">
						</div>
						<div class="col- col-md-7 col-lg-6">
							<p class="mt-5">{{solution.description}}
							</p>
						</div>
					</div>
					<div class="d-flex justify-content-center mt-5">
						<div class="col- col-md-7 col-lg-6">
							<p class="">{{solution.text2|safe}}
							</p>
						</div>
						<div class="col- col-md-5 col-lg-6 ">
							<img class="img-fluid" src="{{solution.image2.url}}" alt="{{solution.name}}">
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

{% endif %}
  
{% endblock content %}